{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load hitcount_tags %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/cheats_list.css' %}">
  <div class="wrapper">
    <h2><strong>Barcha Chitlar<span>( {{ free_cheat.count }} )</span></strong></h2>

    <div class="cards">
      {% for cheat in free_cheat %}
        <a href="{% url 'free-cheat-detail' cheat.pk %}">
          <figure class="card">
            <img src="{{ cheat.image.url }}" />
            <figcaption>{{ cheat.name }}
              <br>
              <p style="float: right; position: relative; top: -30px;">👁‍🗨{% get_hit_count for cheat %}</p>
              <br><b>Narxi: {{ cheat.price| floatformat:3 }} UZS</b>
            </figcaption>
            <figcaption style="top: -20px;">{{ cheat.about|slice:':100'|safe }}</figcaption>
          </figure>
        </a>
      {% endfor %}
    </div>
  </div>

{% endblock content %}